body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(29, 29, 29);
  color: rgb(131, 240, 255);
}

main {
  color: #333;
}

button {
    padding: 3px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 105%;
}

button:hover {
  background-color: darkgray;
}